header .top-contacts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

header .top-phone-mail {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

                       /*Navbar*/
header .navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background-color: #f44c7f;
    padding: 15px;
    margin: 0;
}
header .navbar a {
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
    margin: 0;
}

header .navbar a:hover {
    border: 1px solid black;
}


/*header .banner {
    min-height: 550px;
    background-image: url(../img/fb-slider.jpg);
    background-size: cover;
    background-position: center;

}*/